body, h2, h1{
  font-family: "Imperial Script", sans-serif;
  font-weight:100;
}

body, A, h3, p, h4 {
  font-family: "Source Serif 4", sans-serif;
}

body {
	background-image: url(https://i.pinimg.com/736x/f2/05/fd/f205fdf8cc685598c51ad75066679329.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

h1 {
  font-size: 450%;
  text-align: right;
  padding: 10px 15px;
   margin: 0;
}

h2 {
  font-size: 350%;
  text-align: right;
  padding: 10px 15px;
  margin: 0;
}

h3 {
  font-size: 150%;
  text-align: center;
  margin: 0;
}

h4 {
  font-size: 90%;
  text-align: center;
  color: white;
}


p {
	font-size: 100%;
  text-align: center;
}

a.menu {
  background-color: white;
  color: black;
  display: inline-block;
  font-size: 200%;
  text-align: left;
}


a.social:link, a.social:visited {
  background-color: black;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 85%;
  text-decoration: underline;
}

a.social:hover, a.social:active {
  color: gray;
}

hr { 
	border-width: 200%;
}

img {
	width: 48%;
	height: auto;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

div.intro {
	max-width: 80%;
	word-wrap: normal;
  margin-left: auto;
  margin-right: auto;
}

div.header {
 top:0;
 right: 0;
 position: relative;
 margin: 0;
}

.bottom {
  display: inline-block;
  bottom:0;
  background-color: black;
  height: 60px;
  width: 100%;
}

div.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom:0;
  background-color: black;
  height: 40px;
  width: 100%;
}

.morebottom {
  display: inline-block;
  bottom:0;
  background-color: black;
  height: 20px;
  width: 100%;
}

div.gallery {
	max-width: fit-content;
  margin-left: 5px;
  margin-right: auto;
}

div.policy {
word-wrap: normal;	
	max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.rectangle {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  visibility: hidden;
}

.container {
  display: inline-block;
  cursor: pointer;
  margin: 20px 5px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 6px 10px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100vw;
  overflow: auto;
  z-index: 1;
  top: 200%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
	background-color: #ddd;
	}

.show {display: block;}

